<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<app-header></app-header>
<main>

<div id="tabla">
    <div id="header-tabla">
        <div>{{header.nro}}</div>
        <div>{{header.disponibilidad}}</div>
        <div>{{header.ingreso}}</div>
        <div>{{header.acciones}}</div>
    </div>
    @for (fila of filas; track $index) {
        <div class="cuerpo-tabla">
            <div>{{fila.id}}</div>
            <div><p [ngClass]="{disponible: !fila.deshabilitada, ocupado:!fila.deshabilitada}">{{fila.deshabilitada ? "No disponible": "No Disponible"}}</div>
            <div>{{fila.descripcion}}</div>
            <div>
                <button (click)="eliminarFila($index)"><img src="/imagenes/descarga.png" alt=""></button>
                <button (click)="cambiarDisponibilidadCochera($index)">prohibido</button>
            </div>
            
        </div>
    }
    
</div>

<div id="agregar">
    <button (click)="agregarFila()">
        <img src="/imagenes/descarga (4).png" alt="">
    </button>
</div>
</main>
</body>